@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.navFooter {
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  margin-bottom: 3rem;
}
.navFooter h4 {
  padding: 0.8rem;
  margin: 0;
}

.linkHoverNavshover {
  color: rgb(40, 40, 82);
  cursor: pointer;
}

.gMap {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.pCenter {
  text-align: center;
}

.contenedor {
  max-width: 120rem;
  max-height: auto;
  margin: 0 auto;
}

.carruselHome {
  padding: 5rem 0 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.photoHome {
  width: 90%;
}

.carruselHome h1, p {
  margin: 0 5rem 5 5rem;
}

.productSegment {
  display: flex;
  flex-direction: column;
  max-width: 220rem;
}

.navegacionSegment {
  justify-content: space-evenly;
  padding: 5rem 8rem 5rem 8rem;
  max-width: 220rem;
}

.productsAnalisis {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8rem;
  justify-items: center;
  max-width: 220rem;
}
.productsAnalisis img {
  width: 100%;
  height: auto;
}

.bbqCatalogo {
  max-width: 220rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  justify-items: center;
}
.bbqCatalogo img {
  width: 100%;
  height: auto;
}

.ContainerAcc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5;
  max-width: 220rem;
  gap: 1.5rem;
  justify-items: center;
}
.ContainerAcc img {
  width: 100%;
  height: auto;
}

.containerModelosRecetas {
  padding: 10rem;
}
.containerModelosRecetas h1 {
  text-align: center;
  margin-bottom: 5rem;
}

.modelo1 {
  margin-bottom: 5rem;
  border-bottom: 1px solid grey;
}
.modelo1 img {
  width: 40%;
  margin-bottom: 1rem;
}
.modelo1 h3 {
  font-size: 2.5rem;
}

.card {
  width: 75%;
  justify-content: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm {
  text-decoration: none;
  width: 150rem;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.textAreaForm {
  width: 150rem;
  height: 30rem;
  font-size: 2rem;
  border-radius: 1rem;
  text-transform: uppercase;
}

.allButtons, .btns-rounded {
  margin: 2rem 0 2rem 0;
  width: 150rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #757575;
}
.allButtons:hover, .btns-rounded:hover {
  background-color: #e27713;
  cursor: pointer;
}

.btns-rounded {
  border-radius: 0.5rem;
}

.mb-3 {
  margin: 0 2rem 0 2rem;
  font-size: 3rem;
  height: auto;
}

.form-control {
  width: 100%;
  height: 5rem;
  font-size: 2rem;
}

#textArea1 {
  resize: none;
  height: 15rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  max-width: 220rem;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 8px 32px 0 rgba(168, 156, 156, 0.308);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

ul, li {
  list-style: none;
  display: flex;
  gap: 2rem;
}

a {
  text-decoration: none;
  color: #dfe9f3;
}

header {
  max-width: 220rem;
  height: 10rem;
  background-color: rgb(34, 19, 19);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 10rem;
  margin-top: 3rem;
  max-width: 220rem;
  background-color: #f0b86e;
  color: #dfe9f3;
}

footer h4 {
  padding: 5rem;
  margin-left: 5rem;
}

@media (min-width: 768px) {
  header {
    max-width: 220rem;
    height: 10rem;
    background-color: rgb(34, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navegacionPrincipal {
    flex-direction: row;
    justify-content: space-between;
  }
  .carruselHome {
    padding: 5rem 0 5rem 5rem;
    flex-direction: column;
    display: flex;
    justify-items: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .navFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    margin-bottom: 3rem;
  }
  .navFooter h4 {
    padding: 0.8rem;
    margin: 0;
  }
  .linkHoverNavshover {
    color: rgb(40, 40, 82);
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputForm {
    text-decoration: none;
    width: 50rem;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .textAreaForm {
    width: 20%;
    height: auto;
    font-size: 2rem;
    border-radius: 1rem;
    text-transform: uppercase;
  }
  .allButtons, .btns-rounded {
    margin: 2rem 0 2rem 0;
    width: auto;
    padding: 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #dfe9f3;
  }
  .allButtonshover {
    background-color: #e27713;
    cursor: pointer;
  }
  .ContainerAcc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
@media (max-width: 768px) {
  .photoHome {
    width: 90%;
  }
  .productsAnalisis {
    grid-template-columns: repeat(2, auto);
  }
  .bbqCatalogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .navegacionSegment {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .navegacionSegment img {
    width: 10rem;
    margin-bottom: 5rem;
  }
}
@media (max-width: 2048px) {
  .formulario {
    width: 80%;
  }
  .inputForm {
    width: 100%;
  }
  .textAreaForm {
    width: 80%;
  }
  .allButtons, .btns-rounded {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .nav-link:hover {
    transform: translateY(20px);
    transition: transform 2s;
    animation-name: animateDiv;
    animation-iteration-count: infinite;
    animation-duration: 1ms;
  }
  @keyframes animateDiv {
    0% {
      color: rgb(255, 153, 0);
    }
    25% {
      color: rgb(238, 234, 30);
    }
    50% {
      color: rgb(255, 81, 0);
    }
    75% {
      color: rgb(216, 23, 23);
    }
  }
  .card:hover {
    transform: scale(1.1);
    transition: transform 1.2s;
  }
}
.navbar {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  font-family: "Roboto";
}

.nav-linkhover {
  color: rgb(40, 40, 82);
  border-radius: 2rem;
  text-transform: uppercase;
}

.navbar-toggler {
  width: 5rem;
  height: 5rem;
}

.navbar-toggler-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.logo {
  width: 8rem;
  margin: 0 15rem 0 2rem;
}

.nav-bg {
  background-color: #f0b86e;
}

/*# sourceMappingURL=styles.css.map */
