
:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc10700;
    --secundario: #f0b86e;
    --gris: #757575;
    --grisClaro: #dfe9f3;
}

.navFooter {
    display: flex;
    justify-content: center;
    padding-left: 2rem;
    margin-bottom: 3rem;

    h4 {
        padding: 0.8rem;
        margin: 0;
    }

}

.linkHoverNavs:hover{
    color: rgb(40, 40, 82);
    cursor: pointer;
}

.gMap {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.pCenter {
    text-align: center;
}