@use 'variables';
@use 'mixins';

.navFooter {
    display: flex;
    justify-content: center;
    padding-left: 2rem;
    margin-bottom: 3rem;

    h4 {
        padding: 0.8rem;
        margin: 0;
    }

}

.linkHoverNavs{

    &hover {
        color: variables.$hover-color;
        cursor: pointer;
    }
    
}

.gMap {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.pCenter {
    text-align: center;
}