@use 'variables';
@import 'mixins';

@media (min-width: 768px) {
    header {
        max-width: 220rem;
        height: 10rem;
        background-color: variables.$base-dark;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navegacionPrincipal{
        flex-direction: row;
        justify-content: space-between;
    }

    .carruselHome {
        padding: 5rem 0 5rem 5rem;
        flex-direction: column;
        @include d-flex(center, center);
    }

}

@media (max-width: 768px) {
    .navFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 2rem;
        margin-bottom: 3rem;
    }
    
    .navFooter h4{
        padding: 0.8rem;
        margin: 0;
    }
    
    .linkHoverNavs{
        
        &hover {
            color: variables.$hover-color;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .formulario {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .inputForm {
        text-decoration: none;
        width: 50rem;
        padding: 2rem;
        border-radius: 1rem;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    
    .textAreaForm {
        width: 20%;
        height: auto;
        font-size: 2rem;
        border-radius: 1rem;
        text-transform: uppercase;
    }
    
    .allButtons {
        margin: 2rem 0 2rem 0;
        width: auto;
        padding: 1.5rem;
        border-radius: 0.5rem;
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid variables.$secondary-grey;
    }
    
    .allButtons {

        &hover{
            background-color: variables.$primary-orange;
            cursor: pointer;
        }
    }

    .ContainerAcc {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

@media (max-width: 768px) {
    .photoHome {
        width: 90%;
    }

    .productsAnalisis {
        grid-template-columns: repeat(2, auto);
    }

    .bbqCatalogo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .navegacionSegment {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .navegacionSegment img{
        width: 10rem;
        margin-bottom: 5rem;
    }
}

@media (max-width: 2048px) {
    .formulario {
        width: 80%;
    }

    .inputForm {
        width: 100%;
    }

    .textAreaForm {
        width: 80%;
    }

    .allButtons {
        width: 80%;
    }
}

@media (min-width: 992px) {
    
    .nav-link:hover {
        transform: translateY(20px);
        transition: transform 2s;
        animation-name: animateDiv;
        animation-iteration-count: infinite;
        animation-duration: 1ms;
    }

    @keyframes animateDiv {
        0%{color: rgb(255, 153, 0);}
        25%{color: rgb(238, 234, 30);}
        50%{color: rgb(255, 81, 0);}
        75%{color: rgb(216, 23, 23);}
    }

    .card:hover {
        transform: scale(1.1);
        transition: transform 1.2s;
    }
}