@use 'variables';

.navbar {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-family: 'Roboto';
}

.nav-link {
    
    &hover {
        color: variables.$hover-color;
        border-radius: 2rem;
        text-transform: uppercase;
    }
}

.navbar-toggler {
    width: 5rem;
    height: 5rem;
}

.navbar-toggler-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.logo {
    width: 8rem;
    margin: 0 15rem 0 2rem;
}

.nav-bg{
    background-color: variables.$secondary-orange;
}