

$base-white: #ffffff;
$base-dark: rgb(34, 19, 19);
$primary-dark: #ffc10700;
$primary-orange: #e27713;
$secondary-orange: #f0b86e;
$primary-grey: #757575;
$secondary-grey: #dfe9f3;
$hover-color: rgb(40, 40, 82);
